body {
    font-family: cursive;
    color: white;
    background-image: url('background.jpg');
    /*background-color: #a6dde8;*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.game-container {
   
    background-color: rgb(42, 6, 96);
    opacity: 75%;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

input[type="number"] {
    padding: 5px;
    margin: 10px;
    width: 50px;
}

button {
    padding: 5px 10px;
    background-color: navy;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
}
